MONGODB_URI="mongodb+srv://Vercel-Admin-atlas-cobalt-book:atJv8Vb9EtQ93072@atlas-cobalt-book.ml4demu.mongodb.net/?retryWrites=true&w=majority"
DATABASE_URL="mongodb+srv://Vercel-Admin-atlas-cobalt-book:atJv8Vb9EtQ93072@atlas-cobalt-book.ml4demu.mongodb.net/?retryWrites=true&w=majority"
JWT_SECRET="dev-secret-change-me"
PORT=3001
